<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <title>Ajax get_json</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
  table, td {
    border-width: 0px;
  }
  .message {
    text-align:center;
    color:magenta;
    font-size:1.7em;
  }
 </style>
<script src="/js/jquery.min.js"></script>

 <script>
  function btnclick() {
    var regex = $('#regex').val();
    var text = $('#text').val();
    $.getJSON('/cgi-bin/Perl/regex.cgi',
     {"regex":regex, "text":text },
     function(data) {
       $('#message').text(data.result);
    });
  }

 </script>
</head>

<body>
<h1>正規表現テスト</h1>
<div class="menu" style="text-align:center"><a href="/">HOME</a></div>
<br />
<div class="content">

<form method="GET">
 <table>
 <tr><td>正規表現　</td><td><input type="text" id="regex" size="40" value="^A+" /></td></tr>
 <tr><td>対象文字列　</td><td><input type="text" id="text" size="40" value="ABCDEF" />
  </td></tr>
 <tr><td></td><td></td></tr>
 <tr><td></td><td><input type="button" id="button1" value=" 送信 " onclick="javascript:btnclick();" /></td></tr>
 <table>
</form>
<br />
<div class="message" id="message"></div>


</div>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
